
<div class="container pt-4 px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
        <%= render partial: 'layouts/side', locals: { user: @log_in_user, new_book: @new_book } %>
    </div>
    
    <div class="col-md-8 offset-md-1">
        <h2>Users</h2>
        
        <table class="table mb-5">
            <tbody>
                <tr>
                    <td>Image</td>
                    <td>Name</td>
                    <td></td>
                </tr>
                <% @users.each do |user| %>
                  <tr>
                    <td><%= image_tag user.get_profile_image(80,80) %></td>
                    <td><%= user.name %></td>
                    <td><%= link_to "Show", user_path(user.id) %></td>
                  </tr>
                <% end %>
            </tbody>
        </table>    
    </div>
  </div>
</div>
